.container{
    display:grid;
    grid-template-columns: 1fr/*repeat(auto-fill , minmax(300px , 1fr));*/;
    grid-gap:10px;
    margin:20px;
}
#card{
    background-color:rgb(228, 228, 228);
    display:flex;
    flex-flow:row nowrap;
    gap:20px;
    padding:25px;
    border-radius:5px;
    border:1px solid rgb(118,118,118);
    box-shadow: 0px 0px 5px rgb(118, 118, 118);
    font-family:arial;
}
#card div p {
    padding-left:15px;
}
#card div img {
    width:100px;
    height:100px;
    border-radius: 50%;
}
#card div.imgDiv {
    display:flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:500px ){
    #card{
        flex-flow:column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #card div p{
        padding:0;
    }
}